dashscope
feedparser
langgraph
langchain
langchain_community
langchain_openai
lxml
mysql-connector-python
openai
python-docx
python-dotenv
requests
requests_html
selenium
streamlit
webdriver_manager
trafilatura
